$z-index : 1050;
$z-index-10 : 10;

$tags-container-color : #c4c4c4;

$selected-color : green;
$hovered-color : #dc3545;
$tag-element-bg-color: #FEC95B;
$tag-element-active-bg-color: #4076fe;
$invalidColor : #dc3545;

$_0 : 0;
$tag-element-height : 30px;


$cursor-not-allowed : not-allowed;